#header-logo {
   background-image: url("https://dashboard.clouda.id/imgs/logo-login.png");
   width: 190px;
   height: 20px;
}

#openshift-logo.navbar-brand{
   width: 193px;
   height: 42px;
   padding-left: 20px;
   padding-top: 10px;
}
